ul { list-style-type: none; margin:0; padding:0; }

h1, h2 { margin: 0; }

.table {
    font-family: secondary;
}




/*=============================================
=            Content modal            =
=============================================*/

#modalBox {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, .7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        max-height: 95vh;
        background-color: #eee;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        animation: zoom-in .3s ease;
        overflow: hidden;

        > #modalHeader {
            flex-basis: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > #modalContent {
            padding: 1em 2em 2em;
            overflow-y: auto;
            flex-grow: 1;
        }
        

        h2, h3 {
            margin: 0 0 1em;
            text-indent: 3em;
            color: #888;
        }

        > #modalButtons {
            text-align: right;
            flex-basis: 2.5em;
            display: flex;

            button {
                flex: 1;
                box-shadow: none;
                font-size: .9em;
                border: 0;
                background: none;
                padding: 0.8em 2em;
                border-radius: 0;
                text-transform: uppercase;
                color: white;
                font-weight: bold;

                &:hover {
                    filter: brightness(140%);
                }
            }
        }
    }
}

/*=============================================
=              Cajas de contenido             =
=============================================*/
.contentBox {
    background-color: white;
    padding: 1.2em;
    border-radius: 1em;
    box-shadow: $medium-shadow;
    margin: 1em 0;
}

.infoBox, .errorBox, .warnBox {
    padding-left: 5rem;
    position: relative;

    &::before {
        font-family: 'CVC Icons';
        font-size: 4em;
        line-height: 100%;
        position: absolute;
        top: 0; left: 1rem;
    }
}

.errorBox {
    color: var(--color-orange);
    &::before {
        content: '\E027';
    }
}

.warnBox {
    color: var(--color-yellow);
    &::before {
        content: '\E028';
    }
}

.infoBox {
    color: var(--color-blue);
    &::before {
        content: '\E029';
    }
}



/*=============================================
=              Cajas de alerts             =
=============================================*/
#alertOuter {
    position: fixed;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    background-color: rgba(58, 8, 8, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        font-size: 1.5em;
        max-height: 95vh;
        background-color: #eee;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        animation: zoom-in .3s ease;
        overflow: hidden;

        > #alertHeader {
            flex-basis: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        > #alertContent {
            padding: 3em 2em;
            overflow-y: auto;
            flex-grow: 1;
        }
    }
}