



/* ############################################################################ 
###################################  MEDIUM  ################################## 
############################################################################### */
@media (min-width: $device-medium) and (max-width: calc($device-large - 1px)) {
    .formUser {
        padding-left: 8%;
        padding-right: 8%;
    }

    article {
        &.block, &.clean, &.script {
            padding: .2em 4%;
        }
    }
}





/* ############################################################################ 
####################################  LARGE  ################################## 
############################################################################### */
@media (min-width: $device-large) {
    .formUser {
        padding-left: 12%;
        padding-right: 12%;
    }

    article {
        &.block, &.clean, &.script {
            padding: .2em 6%;
        }
    }

}

  
