/* Oswald */
@font-face {
    font-family: Oswald;
    font-weight: light;
    src: url(/fonts/Oswald-Light.woff2);
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src: url(/fonts/Oswald-Medium.woff2);
}

@font-face {
    font-family: Courgette;
    font-weight: normal;
    src: url(/fonts/Courgette-Regular.woff2);
}


/* Open Sans */
@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/OpenSans-Regular.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/OpenSans-Italic.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/OpenSans-Bold.woff2);
}
@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/OpenSans-BoldItalic.woff2);
}


/* Merriweather */
@font-face {
    font-family: Merriweather;
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/Merriweather-Regular.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: normal;
    font-style: italic;
    src: url(/fonts/Merriweather-Italic.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    font-style: normal;
    src: url(/fonts/Merriweather-Bold.woff2);
}
@font-face {
    font-family: Merriweather;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/Merriweather-BoldItalic.woff2);
}


/* Dorsal */
@font-face {
    font-family: Dorsal;
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/dorsal.woff2);
}