---
import Layout from '@src/layouts/SectionLayout.astro'

import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'

const eventsCollection = await getCollection('eventos')
const events = eventsCollection.sort((a, b) => {
	if (a.data.date.from > b.data.date.from) return -1
	if (a.data.date.from < b.data.date.from) return 1
	return 0
})
---

<Layout lang="es" title="Sobre Playland">
	<h1 class="brush-orange mb-16 mt-6 font-header text-4xl font-bold uppercase">Eventos</h1>

	<ul class="grid-flow-cols mx-4 grid grid-cols-events justify-center gap-4">
		{
			events.map((ev) => (
				<li>
					<a transition:name={`poster-${ev.data.title}`} href={`/eventos/${ev.slug}`}>
						<Picture
							width={250}
							src={import(`../img/eventos/${ev.slug.split('/')[0]}/${ev.slug.split('/').pop()}.webp`)}
							alt={ev.data.title}
							formats={['avif', 'webp']}
						/>
					</a>
				</li>
			))
		}
	</ul>
</Layout>

<style lang="scss">
	a {
		display: block;
		position: relative;
		border-radius: 0.5rem;
		overflow: hidden;
		box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.4);
		transition:
			transform 0.2s,
			box-shadow 0.2s;

		&:before {
			content: '';
			position: absolute;
			pointer-events: none;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: linear-gradient(-135deg, #fffffff0 25%, transparent 45%);
			box-shadow: inset 0 7px 20px rgba(0, 0, 0, 0.3);
			background-size: 200%;
			transition:
				background-position 0.2s,
				box-shadow 0.2s;
		}

		&:hover {
			transform: perspective(50em) rotateX(10deg) rotateY(2deg) scale(1.1);
			box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.8);
			z-index: 2;

			&:before {
				background-position: 60%;
				box-shadow: inset -2px 12px 20px #00000066;
			}
		}
	}
</style>
