---
import { Picture } from 'astro:assets'

import Layout from '@src/layouts/HomeLayout.astro'
import Destacado from '@components/home/Destacado.astro'
import Principio from '@components/home/Principio.astro'
import BannerVideo from '@components/home/BannerVideo.astro'

const patrocinadores = await Astro.glob('/src/img/home/patrocinadores/*.webp')

import picPrincipios from '@src/img/home/principios.webp'
---

<Layout lang="es" title="Playland Gran Canaria">
	<BannerVideo />

	<section id="intro" class="bg-pink-50 p-4 md:px-8 lg:px-16">
		<h2 class:list={['text-center font-header text-xl uppercase', `text-pink-600`]}>La familia no es importante, lo es todo</h2>
		<h1 class="brush-pink mb-16 mt-6 font-header text-5xl font-bold uppercase">¡Bienvenidos a Playland!</h1>
		<p>
			Has llegado al sitio ideal si lo que quieres es pasar un día diferente lleno de emoción y un buen ambiente, junto a familiares, amigos o compañeros de
			trabajo.
		</p>
		<p>En Playland nos dedicamos a hacer tus momentos de entretenimiento lo más especial posible, donde tu única preocupación sea divertirte al máximo.</p>
		<p>Por eso te ofrecemos las mejores atracciones, adaptándonos siempre a tus preferencias.</p>
	</section>

	<section id="destacados" class="grid grid-cols-1 gap-2 bg-pink-100 px-2 py-4 sm:grid-cols-2 md:px-4 lg:grid-cols-3 lg:px-8">
		<Destacado title="Adrenalina" url="adrenalina" colors={['red', 'blue']} img="adrenalina">
			<h2>Desahoga tus emociones</h2>
		</Destacado>
		<Destacado title="Familia" url="familia" colors={['pink', 'orange']} img="familia">
			<h2>Fomentamos la importancia de la familia</h2>
		</Destacado>
		<Destacado title="Deporte" url="deporte" colors={['orange', 'green']} img="deporte">
			<h2>Nunca hacer deporte fue tan divertido</h2>
		</Destacado>
		<Destacado title="Diversión" url="diversion" colors={['green', 'yellow']} img="diversion">
			<h2>Sumérgete en un mar de diversión</h2>
		</Destacado>
		<Destacado title="Hinchables" url="hinchables" colors={['yellow', 'pink']} img="hinchables">
			<h2>Saltar y jugar para todas las edades</h2>
		</Destacado>
		<Destacado title="Equipos" url="equipos" colors={['blue', 'red']} img="equipos">
			<h2>Crea tu propio equipo con familia o amigos</h2>
		</Destacado>
	</section>

	<section id="principios" class="bg-emerald-50 p-4 pb-0 pt-10 md:px-8 lg:px-16">
		<h1 class="brush-green section mb-16 font-header text-4xl font-bold uppercase">Nuestros principios</h1>

		<p class="mb-8">
			Hemos creado un concepto de competición familiar, en el cual padre, madre o acompañante, junto a su hijo forman un equipo. En Playland Gran Canaria
			tenemos fuertes valores, de los que nos guiamos para hacer que nuestro trabajo sea sinónimo de felicidad para nuestros clientes.
		</p>

		<div class="flex flex-col gap-10 lg:flex-row">
			<div class="grid grow grid-cols-2 gap-1 md:grid-cols-3 md:gap-3">
				<Principio title="Tiempo de calidad" icon="time" color="pink" />
				<Principio title="Familia" icon="family" color="green" />
				<Principio title="Compañerismo" icon="fellowship" color="blue" />
				<Principio title="Diversión" icon="fun" color="yellow" />
				<Principio title="Deporte" icon="sport" color="red" />
				<Principio title="Bienestar y salud" icon="health" color="orange" />
			</div>

			<img class="mx-auto" src={picPrincipios.src} alt="Principios" />
		</div>
	</section>

	<section id="visitaGaleria" class="bg-sky-50 p-4 py-10 md:px-8 lg:px-16">
		<h1 class="brush-blue section mb-16 font-header text-4xl font-bold uppercase">Visita nuestra galería</h1>

		<div class="flex flex-col gap-8 lg:flex-row">
			<p class="lg:w-3/4">
				¿Ya has participado y quieres ver tus fotos o las de tu familia? o simplemente ¿Quieres ver lo bien que nos lo pasamos todos en Playland? Aquí les
				dejamos todas las fotos de nuestro paso por los diferentes eventos que hemos realizado al rededor de la isla.
			</p>

			<div class="imgBlock blue mx-auto max-w-xl">
				<img src="/img/home/galeria.webp" alt="Visita nuestra galería" />
				<div class="info fade">
					<div class="reveal">
						<a class="flashButton red" href="/fotos">Ver galería</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="patrocinadores" class="p-4 py-10 md:px-8 lg:px-16">
		<h1 class="brush-yellow section mb-16 font-header text-4xl font-bold uppercase">Nuestros patrocinadores</h1>
		<ul class="grid grid-cols-3 place-items-center gap-8 md:grid-cols-4 lg:mx-14 lg:grid-cols-4">
			{
				patrocinadores.map(({ default: pic }) => (
					<Picture src={pic} formats={['avif', 'webp']} height={100} alt={`Logo ${pic.src.split('/').pop().split('.')[0].toUpperCase()}`} />
				))
			}
		</ul>
	</section>
</Layout>
